*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 0;
}

html{
    scroll-behavior: smooth;
}

/* ///////////////////header link starts here///////////////////// */
    
    .header-container{
        display: flex;
        justify-content: center;
        
    }

    .header-links{
        /* border: 3px solid red; */
        display: flex;
        justify-content: space-between;
        /* gap: 223px; */
        width: 90%;
        align-items: center;
    }

    .logo{
        /* border: 3px solid greenyellow; */
        transition: 200ms;
        
    }

    .logo a{
        text-decoration: none;
        color: #1D2830;
        font-family: "Josefin Sans";
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 100% */
        letter-spacing: -1.44px;
        transition: 200ms;
    }

    .logo a:hover{
        color: #794CFF;
        transition: 200ms;
    }
    .header-ul li a:hover{
        color: #794CFF;
        transition: 200ms;
    }
    .header-ul{
        border: 3px solid aqua;
        display: flex;
        gap: 44px;
        list-style: none;
        padding-left: 120px;
        transition: 200ms;
    }

    .header-btn{
        display: flex;
        align-items: center;
        gap: 16px;
        /* border: 3px solid green; */
        transition: 200ms;
        
    }

    .header-btn button a{
        
        text-decoration: none;
        color: #794CFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 100% */
        transition: 200ms;
    }

    .header-btn button:hover  {
        background: #794CFF;
        color: #ECE5FF;
    }
    .header-btn button:hover a {
        /* background: #794CFF; */
        color: #ECE5FF;
        transition: 200ms;
    }

    .header-btn p a{
        text-decoration: none;
        color: #35414B;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 100% */
        transition: 200ms;
    }

    .header-btn p a:hover{
        color: #794CFF;
        transition: 200ms;
    }


    .header-btn button {
        display: flex;
        padding: 16px 23px;
        align-items: flex-start;
        gap: 10px;
        border: 0;
        transition: 200ms;
    }


    .header-ul li a{
        text-decoration: none;
        color: #35414B;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 100% */
        transition: 200ms;
    }

/* ///////////////////header link ends here///////////////////// */



/* //////////////////////// HERO SECTION  STARTS HERE /////////////////////////  */

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 50px;
    /* border-bottom-left-radius:3128px ;
    border-bottom-right-radius: 3128px;
    padding-top: 30px;
    padding-top: 30px; */
    /* border-radius-: 3128px; */
    /* border: 1px solid #F0EBFA; */
    background: #FBFAFE;
}

.hero-btn-container{
    gap: -2;
    display: flex;
}

.first-btn{
    display: inline-flex;
    padding: 8px 16px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 100px;
    background: #81C43B;
    border: 0;
    z-index: 2;
}

.first-btn a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}

.second-btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 209px;
    height: 32px;
    flex-shrink: 0;
    border-radius: 0px 100px 100px 0px;
    border: 0;
    background: #F2F9EB;
    margin-left: -9px;
    }

    .second-btn a{
        text-decoration: none;
        color: #35414B;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 100% */
    }

    .hero-container h3{
        color: #35414B;
        text-align: center;
        font-family: Inter;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 72px; /* 112.5% */
    }

    .hero-container p{
        color: #4E5A65;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 150% */
    }
    .input-container{
        display: flex;
    }
    .input-container input[type="text"] {
        display: flex;
        width: 322px;
        padding: 18px 24px;
        align-items: flex-start;
        gap: 10px;
        color: #97A5B5;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 100% */
    }

    .input-container button{
        display: flex;
        padding: 18px 45px;
        align-items: flex-start;
        gap: 10px;
        border-radius: 0px 4px 4px 0px;
        /* border: 1px solid #794CFF; */
        background: #794CFF;
    }

    .input-container button a{
        text-decoration: none;
        color: #FFF;
        text-align: center;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 100% */
    }


/* //////////////////////// HERO SECTION  ends HERE /////////////////////////  */


/* ////////////////  OVER-VIEW SECTION STARTS HERE ///////////////////////// */
.overview-section{
    padding-bottom: 10rem;
    background: #FFF;
}
.overview-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.overview-img{
    width: 920px;
    height: 654.287px;
    flex-shrink: 0;
    background: url(./assets/Graph\ 2\ 1.png);
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
    box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
}

.sponsor-container p{
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}

span{
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
}

.sponsor-house{
    /* border: 3px solid red; */
    padding: 20px 0;
    width: 920px;
    display: flex;
    justify-content: space-between;
    transition: 200ms;
}
.sponsor{
    width: 85px;
    height: 26.112px;
    transition: 200ms;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 3px solid; */
}
.sponsor:hover{
    box-shadow: 0px 0px 48px -8px rgba(29, 40, 48, 0.18);
    cursor: pointer;
    width: 95px;
    height: 30px;
    border: 1px solid #F0EBFA;
    transition: 200ms;
}

/* ////////////////  OVER-VIEW SECTION ENDS  HERE ///////////////////////// */


/* ////////////// TIMELINE SECTION STARTS  HERE ////////////////// */

.timeline-container{
    /* width: 1505px; */
    height: 640px;
    
    border: 1px solid #F0EBFA;
    background: #FBFAFE;
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.timeline1{
    width: 394px;
    height: 467px;
    
    border-radius: 4px;
    border: 1px solid #E1E5EA;
    background: #FFF;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
}

.timeline1 .per{
    padding: 20px;
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
}

.timeline2{
    width: 363px;
    height: 362px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E1E5EA;
    background: #FFF;
    left: 400px;
    top: 25%;
    position: absolute; 
    padding: 20px;
    
}
.pics{
    background: url(./assets/Ellipse\ 10.png) !important;
    background-size: contain;
    background-repeat: no-repeat;
}
.timeline2 button{
    width: 90px;
    height: 42px;
    flex-shrink: 0;
    border:0;
    background: #3B7FF6;
    margin-left: 200px;
    margin-top: 14px;
    border-radius: 4px;
    background: #3B7FF6;    
}
.timeline2 button a{
    text-decoration: none;
    color: #FFF;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 13px; /* 100% */
}


.timeline3{
  /* border: 3px solid red; */
  /* height: 560px; */
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* padding: 10px  60px; */
  /* margin-left: 80px; */
}


.divs{
    width: 370px;
    padding: 20px 15px;
    margin-left: 14rem;
    border-radius: 0px 8px 8px 0px;
    border: 1px solid #F6F3FC;

}

.color{
    background: #F6F3FC;
    border-left: 4px solid #794CFF;
}

.divs h4{
    color: #35414B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

.divs p{
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding: 10px 0;
}


.size{
    height: 195px;
}

.top{
    display: flex;
    gap: 16px;
    padding: 10px 0;
}
.icon{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #FDF8E8;
    flex-shrink: 0;
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.middle{
    /* height: 255px; */
    display: flex;
    flex-direction: column;
    padding-left: 60px;
    border-left: 3px solid #E1E5EA;
    gap: 16px;
    margin-left: 20px;
}

.messages{
    width: 90%;
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #E1E5EA;
}

.messages p{
    color: #4E5A65;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}

.spa{
    color: #3B7FF6;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
}


.two{
    background: #E5F8ED;
}


/* ////////////// TIMELINE SECTION ENDS  HERE ////////////////// */



/* /////////////////// SERVICES SECTION STARTS HERE ////////////////// */
.services-section{
    padding: 30px 0;
}

.pp{
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 100% */
}

.services-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

.services-icon{
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col1{
    background: #FEF6EE;
}
.col2{
    background: #E8FAFA;
}
.col3{
    background: #F7EBF9;
}
.col4{
    background: #FFEFF3;
}
.col5{
    background: #EDE8F7;
}
.col6{
    background: #FEF5EC;
}

.services h3{
    color: #35414B;
    padding: 10px 0;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 100% */
}

.services-text{
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}
/* /////////////////// SERVICES SECTION ENDS HERE ////////////////// */


/* ///////////////////////// HOW WE WORK SECTION STARTS HERE ////////////////// */

.how-section{
    padding: 40px 0;
    /* border: 3px solid red; */
}


.how-container{
    display: flex;
    justify-content: space-evenly;
    /* padding: 40px; */
}

.left{
    display: flex;
    flex-direction: column;
    gap: 20 px;
    /* width: 400px; */
}

.right{
    width: 472.71px;
    height: 200.37px;
    /* border: 3px solid rgb(0, 255, 136); */
    background: url(./assets/h\ logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.left h4{
    color: #35414B;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px; /* 120% */
}

.left p{
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    padding: 10px 0;
}

.left button {
    display: flex;
    padding: 18px 21px;
    align-items: flex-start;
    gap: 10px;
}

.get-btn{
    display: flex;
    padding: 18px 21px;
    align-items: flex-start;
    gap: 10px;
    width: 164px;
    border: 0;
    border-radius: 4px;
    background: #796EFF;
    transition: 200ms;

}

.get-btn:hover{
    background: #FFF;
    border: 1.5px solid #796EFF;
    transition: 200ms;
    cursor: pointer;
}

.get-btn:hover a{
    color: #796EFF;
    transition: 200ms;
}

.get-btn a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 100% */
    transition: 200ms;       
}
/* ///////////////////////// HOW WE WORK SECTION ENDS HERE ////////////////// */



/* //////////////////////// WHY SECTION STARTS HERE //////////////////////////////// */
.why-section{
    padding: 4rem 0;
}
.why-section h4{
    color: #35414B;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 120% */
}


.why-p {
    padding: 15px;
    color: #4E5A65;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 177.778% */
}

.why-container{
    display: flex;
    /* border: 3px solid aqua; */
    justify-content: space-evenly;
}

.why{
    display: flex;
    align-items: center;
    gap: 10px;
    /* border: 3px solid green; */
    position: relative;
    
}
.why::before{
    width: 120px;
    content: "";
    /* border: 3px solid greenyellow; */
    left: -150px;
    position: absolute;
    top: -10px;
    /* width: 264px; */
    height: 4px;
    transition: 300ms;
    background: #35414B;
    border-radius: 5px;
    opacity: 0;

}

.why:hover::before{
    left: 30%;
    opacity: 10;
}

.why-img{
    width: 48px;
    height: 48px;
    /* border: 3px solid  red; */
    background-position: center;
    background-size: contain;
    background: url(./assets/Ellipse\ 5.png);
    
}

.why-text{
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.why-text p{
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}

.why-text h5{
    color: #4E5A65;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
}


.get-house{
    display: flex;
    justify-content: center;
    padding: 3rem 0;
}

.get-container{
    display: inline-flex;
    padding: 64px 80px;
    align-items: center;
    gap: 143px;
    border-radius: 16px;
    background: #796EFF;
} 

.get-container p{
    color: #FFF;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 150% */
}

.get{
    width: 185px;
    /* border: 3px solid red; */
    height: 53px ;


    
}

.get-links{
    display: flex;
    gap: 10px;
}

/* //////////////////////// WHY SECTION ENDS HERE //////////////////////////////// */


/* ///////////// FOOTER SECTION STARTS HERE ////////////////// */


footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #1D2830;
    height: 300px;  
}

.footer-links ul {
    list-style: none;
}

.footer-links h4{
    color: #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px; /* 100% */
}


.footer-links ul li{
    padding: 10px 0;
    /* border: 3px solid red; */
    position: relative;
    transition: 300ms;
}

.footer-download{
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.footer-links ul li::before{
    height: 3px;
    background: #4E5A65;
    width: 100%;
    content: "";
    position: absolute;
    /* border: 3px solid red; */
    opacity: 0;
    top: 0;
    left: 0;
    transition: 300ms;


    /* border: 3px solid red; */
}

.footer-links ul li::before{
    left: -150px;
}



.footer-links ul li::after{
    width: 100px;
    content: "";
    bottom: 0;
    position: absolute;
    height: 3px;
    background: #4E5A65;
    width: 100%;
    left: -150px;
    transition: 300ms;
    opacity:0 ;

    /* border: 3px solid red; */
}

.footer-links ul li:hover::before,::after{
    left: 0;
    opacity: 10;
}
.footer-links ul li:hover::after{
    left: 0;
    opacity: 10;
}




.footer-links li a{
   
    text-decoration: none;
    color: #FFF;
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    opacity: 5;
    transition: 300ms;
}

.social{
    width: 25.067px;
    height: 25.067px;
    /* border: 3px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer-contact{
    display: flex;
    
    /* border: 3px solid greenyellow; */
    justify-content: space-between;
    padding: 0 160px;
    
}
.footer-contact p{
    color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.footer-contact-container{
    padding: 1rem 0;
    background: #1D2830; 
    border-top: 1px solid #35414B;   
}

.social-container{
    display: flex;
    gap: 32px;
    
}


/* ///////////// FOOTER SECTION ENDS HERE ////////////////// */



/* ///////////////////////////////// MOBILE LINKS ///////////////////////// */
.mobile-links{
    /* height: ; */
    width: 100%;
    padding: 15px 50px;
    border: 3px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: #1D2830;

}

.mobile-links p a{
    text-decoration: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 300;
}



/* .hamburger-container{
    align-items: center;
    width: 40px;
    height: 40px;
    border: 3px solid blue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bar{
    width:40px ;
    height: 10px;
    border: 3px solid white;
    position: relative;
    
}

.bar::after{
    content: "";
    width:40px ;
    height: 10px;
    border: 3px solid white;
    translate: 20px;
    position: absolute;
    left: 0;
}

 */

    #checkbox {
        display: none;

    }

    .toggle {
        position: relative;
        width: 40px;
        height: 40px;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
        transition-duration: 0.3s;
    }

    .bars {
        width: 100%;
        height: 4px;
        background-color: rgb(253, 255, 243);
        border-radius: 5px;
        transition-duration: 0.3s
    }

    #checkbox:checked + .toggle #bar2 {
        position: absolute;
        transform: translateY(14px);
        transform: rotate(60deg);
        margin-left: -0px;
        transform-origin: right;
        transition-duration: 0.3s;
        z-index: 2;
    }


    #checkbox:checked + .toggle #bar1 {
        position: absolute;
        transform: translateY(28px);
        transform: rotate(-60deg);
        /* rotate: (-60deg); */
        transition-duration: 0.3s;
        transform-origin: left;
        z-index: 1;
    }

    #checkbox:checked + .toggle{
        transform: rotate(-90deg);
    }

    .bar1 .show{
        border: 3px solid greenyellow;
    }


    .mobile-ul{
        position: fixed;
        top: 70px;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        border: 3px solid yellow;
        /* height: 50vh; */
        padding: 10px 0;
        background: #1D2830;

    }

    .mobile-ul li a{
        text-decoration: none;
        color: var(--Text-Gray-300, #D9DBE1);
    font-feature-settings: 'salt' on, 'liga' off;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
        /* border: 3px solid greenyellow; */
    }
/* ///////////////////////////////// MOBILE LINKS //////////////////////// */